---
layout: default
---

<!-- Page Header -->
<div class="box">
{% if page.background %}
<header class="masthead">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1 class="title">{{ page.title }}</h1>
            {% if page.description %}
            <span class="subtitle">{{ page.description }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<br>
  <div class="">
    <div class="">
      <div class="content box">

        {{ content }}

      </div>
    </div>
  </div>
